body{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}


.container{
    background: rgb(13,107,166);
    background: linear-gradient(148deg, rgba(13,107,166,1) 0%, rgba(18,70,115,1) 42%, rgba(65,174,217,1) 100%);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10% 3% 1fr 1fr 15%;
    row-gap: 10px;

}

.encabezado{

    grid-column: 1/ span 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    
   
    
  
}

.encabezado img {
    
   
    border-radius: 50%;
    box-shadow: 0px 0px 50px #F2CB05;
}

.nav{
    grid-column: 1/span 4;
    grid-row: 2 /3 ;
    margin: 5px 0;
 
}

.item{
    border-top: 3px solid #F2CB05;
    border-bottom:3px solid #F2CB05 ;
    text-align: center;
}


.nav .item ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    

}

.nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1em;
    color: #F2CB05;
    
}


main{
    
    grid-column: 1/ span 4;
    grid-row: 3/4 ;
    height: 70%;
}

.baner{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.baner img{
    padding: 0;
    object-fit: fill;
    width: 100%;
    
}

.form_container{
    width: 50%;
    
}

.bienvenida{
    width: 60%;
}

.bien_item{
    position: relative;
    left: 33%;
    text-align: center;
    color: #F2CB05;
    text-transform: uppercase;
    line-height: 1.5em;
    
}



.bienvenida a {
    text-decoration: none;
    font-size: 1.5em;
    color: #41AED9;
    display: inline-block;
    box-shadow: 0px 0px 15px #F2CB05;
     padding: 10px 20px;
}

/* seccion de Card */

.seccion{
    
    grid-column: 1/ span 4;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.seccion h6{
    font-weight: 900;
    font-size: 2.5em;
}

.articulos{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
    width: 100%;

}
.card{
    position: relative;
    width: 300px;
    height: 400px;
    box-shadow: 0 30px 30px black;
    background-color: black;
    margin: 10px;
    border-radius: 5%;
    padding: 10px;

}


.card .card_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.card .card_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 5%;      
}



.card:hover .card_img img {
    opacity: 0.2;
}


.card_content {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    transition: 0.5s;
    overflow: hidden;
    text-align: center;
}

.card_content:hover{

    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}



.card_content a {
    text-decoration: none;
    color: #F2CB05;
}



.card_content p {
    text-align: center;
    line-height: 30PX;
    font-weight: 700;
    color: #0D6BA6;
    padding: 0 10px;
    
}

.card_content h5 {
    text-align: center;
    font-size: 30px;
    color: #F2CB05;
}


/* pie de pagina */

footer{
   
    grid-column: 1 / span 4;
    grid-row: 5 / 6;
    border-top:3px solid #F2CB05 ;
}

.pie{
    text-align: center;
}

.pie_redes h4 {
    font-size: 1.5em;
    color: #F2CB05;
}

.pie_redes a {
    padding: 0 5px;

}

.pie_contacto a {
    text-decoration: none;
    color: #F2CB05;
}

@media screen and (max-width:920px) {

    .nav .item ul{
        display: flex;
        flex-wrap: wrap;

    }

    .item li{
        padding: 2px 0 ;
    }

    .baner{
    padding: 15px 0;
    }

    .bien_item h2{
    
        line-height: 1.5em;
    }

    .seccion .articulos {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .mapouter{
        width: 100%;
    }

    .container{
       
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 10% 3% 800px 1fr 8%;
        
    
    }

}
