/* COLORE */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  background: #0d6ba6;
  background: linear-gradient(148deg, #0d6ba6 0%, #124673 42%, #41aed9 100%);
}

.barra_nav {
  background-color: #F2CB05;
}

.barra_nav li {
  padding: 0 15px;
}

/* encabezado (logo de tacomma) */
.encabezado {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/ span 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0;
}

.encabezado img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 50px #F2CB05;
          box-shadow: 0px 0px 50px #F2CB05;
}

.encabezado img:hover {
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-name: girando;
          animation-name: girando;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

/* nav style */
.nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/span 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /3;
  margin: 5px 0;
}

.item {
  border-top: 3px solid #F2CB05;
  border-bottom: 3px solid #F2CB05;
  text-align: center;
}

.nav .item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1em;
  color: #F2CB05;
}

/* principal */
main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/ span 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  height: 70%;
}

.baner {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.baner img {
  padding: 10PX 0;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
}

.bienvenida {
  width: 60%;
}

.bien_item {
  position: relative;
  left: 33%;
  text-align: center;
  color: #F2CB05;
  text-transform: uppercase;
  line-height: 1.5em;
}

.bienvenida a {
  text-decoration: none;
  font-size: 1.5em;
  color: #41AED9;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 15px #F2CB05;
          box-shadow: 0px 0px 15px #F2CB05;
  padding: 10px 20px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: deslizamiento;
          animation-name: deslizamiento;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

/* form style */
.bloque {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/ span 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  padding-top: 15px;
}

.form_container {
  background-color: grey;
  -webkit-box-shadow: 0px 0px 10px 0px #333 inset;
          box-shadow: 0px 0px 10px 0px #333 inset;
  width: 600px;
  height: auto;
  padding-left: 15px;
}

.id_form {
  width: 200px;
}

.boton_form input {
  height: 40px;
}

.boton_form .enviar {
  background-color: #F2CB05;
}

.seccion_map h6 {
  font-weight: 900;
  text-align: center;
  font-size: 1.5em;
}

/* seccion de Card */
.seccion {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/ span 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.seccion h6 {
  font-weight: 900;
  font-size: 2.5em;
}

.articulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

/* seccion de PANELES */
.seccion_paneles {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/ span 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.articulos_paneles {
  text-align: center;
  padding: 30px 0;
  width: 100%;
}

.articulos_paneles h6 {
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 2.5em;
}

.articulos_paneles .contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* CARDS */
.card {
  position: relative;
  width: 300px;
  height: 400px;
  -webkit-box-shadow: 0 30px 30px black;
          box-shadow: 0 30px 30px black;
  background-color: black;
  margin: 10px;
  border-radius: 5%;
  padding: 10px;
}

.card .card_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .card_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5%;
}

.card:hover .card_img img {
  opacity: 0.2;
}

.card_content {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  text-align: center;
}

.card_content:hover {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.card_content a {
  text-decoration: none;
  color: #F2CB05;
}

.card_content p {
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  color: #0D6BA6;
  padding: 0 10px;
}

.card_content h3 {
  font-weight: 900;
  font-size: 2.4em;
}

.card_content h5 {
  text-align: center;
  font-size: 30px;
  color: #F2CB05;
}

/* promociones style */
.table_content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/ span 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.table_box h3 {
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 2.5em;
}

/* carrousel */
.carru_img {
  width: 50%;
  margin: auto;
}

.carru_img .card {
  width: 80%;
  margin: auto;
}

/* pie de pagina */
footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  border-top: 3px solid #F2CB05;
  margin-top: 15px;
}

.pie {
  text-align: center;
}

.pie_redes h4 {
  font-size: 1.5em;
  color: #F2CB05;
}

.pie_redes a {
  padding: 0 5px;
}

.pie_contacto a {
  text-decoration: none;
  color: #F2CB05;
}

@media screen and (max-width: 981px) {
  .container {
    -ms-grid-rows: 5% 6% 25% 55% 8%;
        grid-template-rows: 5% 6% 25% 55% 8%;
  }
  .nav .item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .item li {
    padding: 5px 0;
  }
  .bien_item h2 {
    line-height: 1.5em;
  }
  .seccion .articulos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* carrusel */
  .carru_img {
    width: 100%;
    margin: auto;
  }
  /* paneles */
  .articulos_paneles .contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articulos_paneles h6 {
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 650px) {
  .form_container {
    width: 300px;
  }
  .seccion_map {
    display: none;
  }
  .table_content {
    overflow-x: scroll;
  }
  .carru_img {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 360px) {
  .container {
    -ms-grid-rows: 5% 6% 28% 52% 8%;
        grid-template-rows: 5% 6% 28% 52% 8%;
  }
  .carru_img {
    width: 100%;
    margin: auto;
  }
}

/* *************************************************
  *********************ANIMACIONES******************************** */
@-webkit-keyframes deslizamiento {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes deslizamiento {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@-webkit-keyframes girando {
  from {
    -webkit-transform: rotate(0grad);
            transform: rotate(0grad);
  }
  to {
    -webkit-transform: rotate(400grad);
            transform: rotate(400grad);
  }
}

@keyframes girando {
  from {
    -webkit-transform: rotate(0grad);
            transform: rotate(0grad);
  }
  to {
    -webkit-transform: rotate(400grad);
            transform: rotate(400grad);
  }
}

/* COLORE */
/*# sourceMappingURL=style.css.map */