/* encabezado (logo de tacomma) */

.encabezado{

    grid-column: 1/ span 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    
        .img {
    
   
            border-radius: 50%;
            box-shadow: 0px 0px 50px #F2CB05;    
  
  
            .img:hover{
                animation-duration: 6s;
                animation-name: girando;
            animation-timing-function: ease-out;
            }
        }
} ;

/* nav style */

.nav{
    grid-column: 1/span 4;
    grid-row: 2 /3 ;
    margin: 5px 0;
   
  
  }
  
  .item{
    border-top: 3px solid #F2CB05;
    border-bottom:3px solid #F2CB05 ;
    text-align: center;
    
  }
  
  
  .nav .item ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
  
  }
  
  .nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1em;
    color: #F2CB05;
    
  }
  